@import "tailwindcss";


@theme {
    --color-ink: #f7fbfd;
    --color-ink-light: #131B2E;
    --color-paper: #000;
    --color-brass: #C9A227;
    --color-brass-light: #E4C55E;
    --color-slate-muted: #000;

    --font-display: "Fraunces", serif;
    --font-body: "Inter", sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-ink);
}